<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Vue Boolzapp</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
  <div id="app" class="main-wrapper">
    <div class="left-wrapper">
      <!-- user -->
      <div class="user d-flex align-center">
        <div class="user-data d-flex align-center">
          <div class="image">
            <img src="img/avatar_io.jpg" alt=""> 
          </div>
          <span class="name">Sofia</span>
        </div>
        <div class="user-icons">
          <i class="fa-solid fa-circle-notch"></i>
          <i class="fa-solid fa-message"></i> 
          <i class="fa-solid fa-ellipsis-vertical"></i> 
        </div>
      </div>
      <!-- alert -->
      <div class="alert d-flex align-center">
        <div class="bell d-flex justify-center align-center">
          <i class="fa-solid fa-bell-slash"></i> 
        </div>
        <div class="text">
          <span>Ricevi notifiche di nuovi messaggi</span><br>
          <span>Attiva notifiche desktop</span>
        </div>
      </div>
      <!-- search -->
      <div class="search">
        <input type="text">
      </div>
      <!-- cards -->
      <div class="card-area">
        <div @click="counter = index" v-for="(contact, index) in contacts" class="card">
          <div class="image">
            <img :src='contacts[index].avatar' alt=""> 
          </div>
          <div class="name-hour d-flex">
            <span>{{contacts[index].name}}</span>
            <span>{{contacts[index].messages[contacts[index].messages.length -1].date.slice(10, 16)}}</span>
          </div>
          <p class="last-msg">{{contacts[index].messages[contacts[index].messages.length -1].message}}</p>
        </div>

      </div>
    </div>
    <div class="right-wrapper">
      <!-- selected-chat -->
      <div class="selected-chat d-flex align-center">
        <div class="data d-flex">
          <div class="image">
            <img :src="contacts[counter].avatar" alt="">
          </div>
          <div class="text">
            <span>{{contacts[counter].name}}</span><br>
            <span>Ultimo accesso oggi alle 12:00</span>
          </div>
        </div>
        <div class="icons"></div>
      </div>
      <!-- chat -->
      <div class="chat">
        <div v-for="(message, index) in contacts[counter].messages" 
        class="msg" 
        :class="contacts[counter].messages[index].status"> 
        {{contacts[counter].messages[index].message}}
      </div>
        
      </div>
      <!-- text-area -->
      <div class="text-area">
        <input @keyup.enter="pushMsg()" v-model="newMsgText" type="text">
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>


<!-- <i class="fa-solid fa-circle-notch"></i>   circle -->

<!-- <i class="fa-solid fa-message"></i>   msg -->

<!-- <i class="fa-solid fa-ellipsis-vertical"></i>   dots -->

<!-- <i class="fa-solid fa-bell-slash"></i>    bell slash -->

<!-- <i class="fa-solid fa-paperclip"></i>   clip -->