* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #2f9688 20%,
    #d7dbd7 20% 80%
    );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* wrappers */
.main-wrapper {
  width: 80%;
  height: 90%;
  display: flex;
}

.left-wrapper, .right-wrapper {
  height: 100%;
}

/* images */
.user-data .image, .selected-chat .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

/* left-wrap ------------------------------------------------ */
.left-wrapper {
  width: 35%;
  background-color: #dad8d8;
  overflow: hidden;
}

.user, .alert, .search {
  width: 100%
}

/* user */
.user {
  height: 55px;
  justify-content: space-between;
  padding: 6px;
}

.user-data .image img {
  width: 100%;
  border-radius: 50%;
}

.user-icons i {
  color: #929292;
  margin: 0 8px;
}

/* alert */
.alert {
  height: 70px;
  background-color: #8edafc;
  padding: 6px;
}

.alert .bell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-right: 8px;
}

.alert .bell i {
  color: #8edafc;
}

.alert .text span:first-child {
  font-size: 13px;
}

.alert .text span:last-child {
  font-size: 10px;
  text-decoration: underline;
}

/* search */
.search {
  height: 45px;
  padding: 4px;
  background-color: #e0e0e0;
}

.search input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* card */
.card-area {
  height: calc(100% - 170px);
  overflow: scroll;
  background-color: white;
}

.card {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid black;
}

.card:hover {
  background-color:#e0e0e0;
  cursor: pointer;
}

.card .image {
  width: 45px;
  height: 45px;
  margin: 8px 5px;
  float: left;
  vertical-align: middle;
}

.card .image img {
  width: 100%;
  border-radius: 50%;
}

.card-area .name-hour {
  justify-content: space-between;
  padding-top: 10px;
}

.card-area .name-hour span:first-child {
  font-size: 14px;
}

.card .name-hour span:last-child,
.card .last-msg {
  font-size: 10px;
  color: #8f8a94;
}


.card .name-hour span:last-child {
  margin-right: 5px;
}

.card .last-msg {
  margin-top: 5px;
}

/* /left-wrap ------------------------------------------------ */

/* right-wrap ------------------------------------------------ */
.right-wrapper {
  width: 65%;
}

.selected-chat, .chat, .text-area {
  width: 100%;
}

/* selected-chat */
.selected-chat {
  height: 55px;
  padding: 6px;
  border-left: 1px solid black;
  background-color: #dad8d8;
  justify-content: space-between;
}

.selected-chat .icons {
  padding-right: 10px;
}
.selected-chat .icons i {
  margin: 0 10px;
  color: #929292;
}

.selected-chat img {
  width: 100%;
  border-radius: 50%;
}

.selected-chat .text span:first-child{
  font-size: 15px;
}

.selected-chat .text span:last-child{
  font-size: 12px;
  color: #8f8a94;
}

/* chat */
.chat {
  height: calc(100% - 110px);
  background: url(img/mine.jpg);
  background-position: fixed;
  padding: 50px 60px;
  overflow: scroll;
}

.msg {
  max-width: 500px;
  display: block;
  padding: 10px 50px 10px 10px;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
}

.msg span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}

.sent {
  float: right;
  clear: both;
  background-color: #d5f9ba;
}

.received {
  float: left;
  clear: both;
  background-color: #ffffff;
}


/* text-area */
.text-area {
  height: 55px;
  justify-content: space-between;
  background-color: #f3eeea;
}

.text-area input {
  width: 100%;
  height: 70%;
  padding: 0 10px
}

.icon-emoji, .icon-mic {
  width: 60px;
  text-align: center;
}

/* /right-wrap ------------------------------------------------ */