* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #2f9688 20%,
    #d7dbd7 20% 80%
    );
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  width: 80%;
  height: 90%;
  border: 1px solid black;
  display: flex;
}

.left-wrapper, .right-wrapper {
  height: 100%;
}

/* left-wrap ------------------------------------------------ */
.left-wrapper {
  width: 35%;
  border: 1px solid black;
}

.user, .alert, .search {
  width: 100%
}

.user {
  height: 55px;
  justify-content: space-between;
  padding: 6px;
  background-color: #dad8d8;
}

/* user-data */
.user-data .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.user-data .image img {
  width: 100%;
  border-radius: 50%;
}

/* user-icons */
.user-icons i {
  color: #929292;
  margin: 0 8px;
}

.alert {
  height: 70px;
  border: 1px solid black;
  background-color: #8edafc;
}

.search {
  height: 45px;
  border: 1px solid black;
}
/* /left-wrap ------------------------------------------------ */

/* right-wrap ------------------------------------------------ */
.right-wrapper {
  width: 65%;
  border: 1px solid black;
}

.selected-chat, .chat, .text-area {
  width: 100%;
}

.selected-chat {
  height: 55px;
  border: 1px solid black;
}

.chat {
  height: calc(100% - 110px);
  border: 1px solid black;
}

.text-area {
  height: 55px;
  border: 1px solid black;
}
/* /right-wrap ------------------------------------------------ */